<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <title>Edit Note</title>
</head>
<body>
    <h1>Edit Note</h1>
    <p>Code: {{ note[1] }}</p> 
    <form method="POST">
        <textarea name="content" rows="10" cols="40">{{ note[2] }}</textarea><br>
        <input type="submit" value="Save">
    </form>
    

    <form method="GET" action="{{ url_for('home') }}">
        <button type="submit">Home</button>
    </form>

</body>
</html>
